.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  flex-grow: 1;
}

.content {
  padding: 0 1.25rem;

  h1 {
    text-align: center;
    .title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    .subtitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .addressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1rem;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    p {
      font-weight: 500;
    }
  }

  .codeBlock {
    display: inline-block;
    background-color: var(--base-300);
    color: var(--base);
    font-weight: bold;
    font-style: italic;
    max-width: 100%;
    word-wrap: break-word;
    padding: 0.5rem;
  }
}

.bgSection {
  flex-grow: 1;
  background-color: var(--base-300);
  width: 100%;
  margin-top: 4rem;
  padding: 3rem 2rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: var(--base-100);
    padding: 2.5rem;
    text-align: center;
    align-items: center;
    max-width: 18rem;
    border-radius: 1.5rem;

    .icon {
      height: 2rem;
      width: 2rem;
      fill: var(--secondary);
    }

    p {
      margin-top: 1rem;
    }

    .link {
      color: var(--link);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
