# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml

# npm
npm-lock.yaml

# bun
bun.lockb

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist